/* Media Queries */
// tablet

@media screen and (max-width: 768px) {

    body {
        background-image: url("/img/background-for-website-tablet.jpg");
    }

    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .hamburger #closeHam {
        display: none;
    }

    .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        width: 100%;
        height: calc(100vh - 58px);
        background-color: $mid-blue;
        padding-top: 60px;
        gap: 5vh;
        z-index: 40;
    }

    .navigation-items>a {
        color: white;
        text-decoration: none;
        font-family: $header-font-family;
        font-weight: 500;
        font-size: 20px;
    }

    .logo-container {
        width: 20%;
    }

    .hero__buttons>a {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }

    // Mission Statment

    .left__container {

        img {
            height: 520px;
            object-fit: cover;
        }

        .image__container__text__overlay {
            position: absolute;
            left: 25%;
            bottom: 30%;
            background-color: rgba($color: $white, $alpha: .5);
            padding: 10px;
            border-radius: 10px;
            width: 60%;
            text-align: center;
        }

        h2 {
            font-size: 30px;
        }
    }

    // Who is NZPI

    #community {
        object-fit: cover;
        object-position: -800px;
        height: 1000px;
    }


    // Meet the team

    .meet__the__team {
        display: flex;
        flex-direction: column;

        .name__card {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: start;
            margin-top: 20px;
        }

        .name__card__image__text {
            width: 40%;
        }

        .name__card__text {
            padding-left: 20px;
            width: 50%;
        }
    }

    // how we work

    .container__four__column {
        display: flex;
        flex-direction: column;
    }

    .four__column__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        img {
            width: 30%;
            height: 250px;
            margin-right: 20px;
            margin-top: 20px;
        }

        .text__card {
            display: flex;
            align-items: flex-start;
        }
    }

    // science&data

.three__column__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;

    .text__card {
        display: flex;
        align-items: flex-start;
        width: 50%;
    }

            img {
            width: 50%;
            height: 250px;
            margin-right: 20px;
            margin-top: 20px;
        }

}

.text__container {
    margin-top: 20px;
}

}



/* Media Queries */
// mobile

@media screen and (max-width: 600px) {

    body {
        background-image: url("/img/background-for-website-mobile.jpg");
    }

    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .hamburger #closeHam {
        display: none;
    }

    .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        width: 100%;
        height: calc(100vh - 58px);
        background-color: $mid-blue;
        padding-top: 60px;
        gap: 5vh;
    }

    .navigation-items>a {
        color: white;
        text-decoration: none;
        font-family: $header-font-family;
        font-weight: 500;
        font-size: 20px;
    }

    .logo-container {
        width: 30%;
    }

    // containers

    .container {
        display: flex;
        flex-direction: column;

        .left__container {
            width: 100%;

            img {
                height: auto;
            }
        }

        .right__container {
            width: 100%;
        }
    }

    .image__container {
        width: 100%;
        height: auto;
    }

    // Who is NZPI


    #community {
        object-fit: cover;
        object-position: 0px;
        height: auto;
        width: 100%;
    }

    // Meet the team

    .meet__the__team {
        display: flex;
        flex-direction: column;

        .name__card {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-top: 20px;
        }

        .name__card__image__text {
            width: 100%
        }

        .name__card__text {
            width: 100%;
        }
    }

    // footer

    .footer__nav>a {
        display: flex;
        flex-direction: column;
    }

    p {
        font-size: 10px;
    }

    // middle__container

    .middle__container {

        h2 {
            font-size: 30px;
        }
    }

    // bento

    // Bento grid

    .grid-parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-parent div {
        grid-column: auto;
        grid-row: auto;
    }

    // how we work

    .container__four__column {
        display: flex;
    }

    .four__column__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        img {
            width: 100%;
            height: 250px;
            margin-right: 20px;
            margin-top: 20px;
        }
    }

    // science & data

    .three__column__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    
        .text__card {
            width: 100%;
        }
    
                img {
                width: 100%;
                height: 250px;
                margin-right: 20px;
                margin-top: 20px;
            }
    
    }

    // two column

    .container__two__column {
        display: flex;
        flex-direction: column;
    }

    .two__column__container {
        padding-top: 10px;
        width: 100%;
    }

}